*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}

.fa-star,.fa-star-half{
    color:yellow;
}

#cart_count{
    text-align: center;
    padding: 10px;
}